.card-header {
  height: 300px;
  width: 50%;
}
.nav-link {
  color: #fff;
}
.video,
.header {
  width: 100% !important;
  height: 550px !important;
  object-fit: fill;
}
.carousel-card {
  height: 300px;
  width: 60rem;
  object-fit: cover;
}
.carousel-card-story {
  height: 200px;
}
.carousel-card img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
img {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}
hr {
  height: 1px !important;
}
.img-gallery {
  height: 400px;
}
.img-gallery img {
  height: 300px;
}
.img-living-wrapper {
  height: 30px;
}
.images-logo {
  height: 40px;
}
.img-logo {
  object-fit: cover;
  min-width: 80px;
}
.img-wrapper {
  height: 700px;
}
@media (max-width: 768px) {
  .img-gallery {
    height: 100%;
  }
  .img-gallery img {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .img-logo {
    object-fit: cover;
    min-width: 30px;
  }
}
