.nav-link {
  color: #fff;
}
.video,
.header {
  width: 100% !important;
  height: 550px !important;
  object-fit: fill;
}
.carousel-card {
  height: 300px;
  width: 60rem;
  object-fit: cover;
}
.carousel-card img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
hr {
  height: 1px !important;
}
